.ulmap-green-text {
    color: var(--ulmap-green) !important;
}

.ulmap-green-bg {
    background-color: var(--ulmap-green) !important;
}

.ulmap-green-border {
    border-color: var(--ulmap-green) !important;
}

.ulmap-secondary-text {
    color: var(--ulmap-secondary) !important;
}

.ulmap-secondary-bg {
    background-color: var(--ulmap-secondary) !important;
}

.white-text {
    color: var(--white) !important;
}

.black-text {
    color: var(--black) !important;
}

.container {
    position: relative;
}

.spacer {
    height: var(--spacing-spacer-height);
}

.nav-link {
    padding: 0.75rem 1.25rem;
    font-weight: 500;
}

article img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1.5rem;
}
html,
body {
    margin: 0;
    min-height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}