footer {
    flex-shrink: 0;
    background-color: var(--ulmap-green);
    overflow: hidden;
}
.copyrighttext {
    color: var(--white);
    font-size: 0.9rem;
}
footer .nav-link {
    color: white   !important;
}
footer .nav-link:hover {
    color: var(--white) !important;
    text-decoration: underline;
}
